<div class="page-header">
  <div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Spanish</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>
	<div class="container">
		<h1></h1>
		<div class="navLinks" style="text-align: center;">
      JJ | <a [routerLink]="['/home']">Home</a> |
		</div>
	</div>
</div>

<div class="container content">
  <div class="row">
    <h1>
      <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>

  <router-outlet></router-outlet>
</div>
Fecha: {{ time | async }}